<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" th:charset="${'UTF-8'}"
      xmlns:th="https://www.thymeleaf.org" th:lang="${#locale}"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" lang="fr">
<head>
    <meta th:replace="base::base-layout">
    <title th:text="#{label.pages.home.title}"></title>
</head>
<body>
<header class="header" th:insert="header::header"></header>
<div class="container" th:switch="${#lists.isEmpty(products)}">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2>
                        <button th:text="#{label.form.Filter}" class="btn btn-link bg-transparent" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseOne">
                            Filter
                        </button>
                    </h2>
                </div>
                <div id="collapseFilter" class="collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                        <form th:object="${searchForm}" th:action="@{/}" method="post">
                            <div class="form-row align-items-center">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label class="sr-only" for="inlineFormLocation" th:text="#{label.form.Location}">Location</label>
                                        <i class="input-icon fas fa-map-marker-alt"></i>
                                        <input type="search" th:field="*{location}" class="padded-form-input form-control"
                                               id="inlineFormLocation" th:placeholder="#{label.form.location.Anywhere}">
                                        <p class="alert-danger" th:each="error: ${#fields.errors('location')}" th:text="${error}">
                                            Validation error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label class="sr-only" for="checkin" th:text="#{label.form.CheckIn}"></label>
                                        <i class="input-icon far fa-calendar-alt"></i>
                                        <input required th:default="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" th:field="*{availableDate}" name="checkin"
                                               class="padded-form-input form-control" id="checkin" type="date">
                                        <p class="alert-danger" th:each="error: ${#fields.errors('availableDate')}"
                                           th:text="${error}">
                                            Validation error
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center custom-price-layout">
                                    <label class="sr-only" for="price" th:text="#{label.form.Price}"></label>
                                    <output class="text-primary font-weight-bold"></output>
                                    <i  class="fas fa-euro-sign text-primary"></i>
                                    <input th:field="*{maxPrice}" min="1" th:default="1" max="1000"
                                           class="form-control custom-range" name="price" id="price" type="range">
                                    <p class="alert-danger" th:each="error: ${#fields.errors('maxPrice')}"
                                       th:text="${error}">
                                        Validation error
                                    </p>
                                </div>
                            </div>
                            <div class="form-row align-items-center text-center">
                                <div class="col-md-4 mx-auto">
                                    <button type="submit" class="btn btn-outline-primary btn-rounded btn-block my-2" th:text="#{label.form.Search}">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="h3" th:if="${isSearchResult}" th:text="#{label.form.SearchResult}"> </div>
        </div>
    </div>
    <div class="row" th:case="${false}" >
        <div class="col-md-4" th:each="logement : ${products}">
            <div class="card mb-4 shadow-sm">
                <img th:src="@{${logement.getImg()}}" class="bd-placeholder-img card-img-top" src="" alt="">
                <div class="card-body">
                    <h5 class="card-title" th:text="${hType[logement.getType()]}+' - '+${logement.getReference()}"></h5>
                    <th:block th:switch="${logement.getDescription().trim() == ''}">
                        <p th:case="${false}" class="card-text text-center" th:text="${logement.getDescription()}"></p>
                        <p th:case="${true}" class="card-text text-center">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                        </p>

                    </th:block>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                                <a th:href="@{/reservation(id=${logement.getId()}, add='')}" class="btn btn-outline-info" >
                                    <strong th:text="#{label.form.Reserve}"></strong>
                                    <span class="badge badge-pill badge-info"
                                          th:text="${isDollar && dollarId == logement.getId()}?${toDollar==null?'Error AWS '+logement.getPrice()+' &euro;':toDollar+' $'}:${logement.getPrice()}+' &euro;'"></span>
                                </a>
                            <a sec:authorize="isAuthenticated()" th:if="${!isDollar}" th:href="@{/(dollar=${logement.getPrice()},dollarId=${logement.getId()})}" class="btn btn-info" th:text="#{label.form.ConvertToDollar}"></a>
                            </div>
                        <small class="text-muted" th:text="${#dates.format( logement.getHouseYear(),'yyyy/MM/dd')}">
                            Last updated 3 mins ago
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:case="${true}">
        nothing to show
    </div>
</div>
</body>
</html>